* {
    box-sizing: border-box;
  }
  body {
    background-image: url("../img/train.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .auth {
    min-width: 320px;
    width: 35%;
    min-height: 400px;
    height: 50%;
  }
  
  .max300 {
    max-width: 300px;
  }
  
  @media screen and (max-width: 1200px) {
    .auth {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .auth {
      width: 60%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .auth {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 500px) {
    .auth {
      width: 90%;
    }
  }
  
  @media screen and (max-width: 800px) {
    .auth {
      height: 60%;
    }
  }
  
  input {
    max-width: 300px;
  }
  
  .auth-panel__input {
    max-width: 300px;
  }
  
  /* 
  auth >
    auth-logo 
    auth-title
    auth-panel >
      auth-panel__input >
        auth-panel__input-error
        auth-panel__input-label
        auth-panel__input-input
        auth-panel__input-icon
  hidden
    */
  